.big-card {
    display: flex;
    flex-direction: column;
}


.big-card__img  img {
    width: 100%;
    aspect-ratio: 1/.6;    
}

.big-card__date h2 {
    font-size: .75rem;
    font-weight: bold;
    opacity: .3;
}

.big-card__title h1 {
    font-size: 2rem;
    font-weight: bold;
}

.big-card__description p {
    font-size: 1rem;
    opacity: .3;
}