<div class="small-card">

    <div class="small-card__img">
        <img src="https://img.freepik.com/vetores-gratis/ilustracao-de-galeria-icone_53876-27002.jpg?w=740&t=st=1694539594~exp=1694540194~hmac=d01ac7e7cc38f423518d82f629c170fc00c408ad1ae4b30f0201a90f240775f3" alt="" srcset="">
    </div> 

    <div class="small-card__description">
        <h2>January 11, 2022</h2>
        <h1>Dlisjflksdfl lsjdflsjkdf lksjdlfkjDlisjflksdfl lsjdflsjkdf lksjdlfkj Dlisjflksdfl lsjdflsjkdf lksjdlfkj</h1>
    </div>
       
</div>